body {
  margin: 0;
}
.box {
  position: absolute;
}
#waveform {
  width: 800px;
  height: 300px;
  z-index: 9999999;
  top: 100px;
  left: 540px;
  transform: translateX(-50%);
  filter: drop-shadow(4px 2px 6px black);
}

#text {
  font-size: 6px;
  overflow: hidden;
}
#video {
  transform-origin: 540px;
  transform: rotate(90deg);
}