<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./socket.io.js" type="text/javascript"></script>
  <script src="./wavefile.js" type="text/javascript"></script>
  <script src="./text2audio.js" type="text/javascript"></script>
  <script src="./wavesurfer.js" type="text/javascript"></script>
  <title>Flask Server</title>
  <style>
    body {
      margin: 0;
    }
    .box {
      position: absolute;
    }
    #waveform {
      width: 800px;
      height: 100px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="box" id="waveform"></div>
    <div class="box" id="text"></div>
    <div class="row">
      <div class="col-lg-8  offset-lg-2">
        <img src="{{ url_for('video_feed') }}" width="100%">
      </div>
    </div>
  </div>
  <script src="./script.js" type="text/javascript"></script>
</body>

</html>